
body
{
    padding-left: 10px;
    padding-top: 10px;
}
.fila_producto{
    margin-bottom: 20px;
    margin-top: 5px;
}

.presentacion_venta{
    margin-right: 20px;
}

.producto_venta{
    margin-right: 25px;
}